<!-- Banner -->
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">
      <p>
      <img src="/images/dervishmoose-logo.png" width="200px" style="margin-bottom:30px">
      </p>

        <header>

            <h2>Dervish Moose Blog</h2>
        </header>
        <p>Blog of Mark W. Breneman   <br />about Tech things, Faith  <br /> and General musings

      </p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="/blog.html" class="button fit scrolly">Get to the BLOG</a></li>
            </ul>
        </footer>

    </div>

</section>
