---
layout: default
---

    <article id="main">
  <header class="special container">
    <h2 class="post-title">{{ page.title }}</h2>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <section class="style4 wrapper container">
    <div class="row oneandhalf">
    <div class="8u">
    {{ content }}

    {% assign post = page %}
{% if post.tags.size > 0 %}
    {% capture tags_content %}Posted with {% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %}: {% endcapture %}
    {% for post_tag in post.tags %}
        {% if post_tag %}
          {% capture tags_content_temp %}{{ tags_content }}<a href="/tag/{{ post_tag }}/">{{ post_tag }}</a>{% if forloop.last == false %}, {% endif %}{% endcapture %}
            {% assign tags_content = tags_content_temp %}

        {% endif %}
    {% endfor %}
{% else %}
    {% assign tags_content = '' %}
{% endif %}

<p id="post-meta">{{ tags_content }}</p>



<hr/>
<h2>Comments</h2>
<div class="fb-comments" data-href="{{ "{{ site.url " }}}}{{ "{{ page.url " }}}}" data-num-posts="4" data-width="706"></div>


    </div>
    <div class="4u">

      <!-- Sidebar -->
        <div class="sidebar">
  {% include sidebar.html %}
        </div>
      </div>
  </section>


    <footer>
        {% if page.previous %}
        <a href="{{ page.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
        {% if page.next %}
        <a href="{{ page.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
    </footer>
</article>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=1667003006902957";
  fjs.parentNode.insertBefore(js, fjs);
}(document, "script", "facebook-jssdk"));</script>
